*{
    margin: 0 0;
    padding: 0 0;
}
.clearfix::after{
    display: block;
    height: 0;
    clear: both;
    content: ''
}
a,a:hover{
    text-decoration: none;
    color:#555;
}
li{
    list-style: none;
}
.container{
    width: 800px;
}
